<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="HTMLGraph is a powerful graph visualization library that enables rich node customization using HTML. Create interactive, dynamic graphs with draggable nodes, transformable viewports, and resize-reactive elements. Perfect for building complex and customizable visualizations with ease."
    />
    <title>{{ .Site.Title }} | {{ .Page.Title }}</title>
    {{ partial "favicon-head.html" }}
    <meta name="theme-color" content="#ffffff" />

    {{ $normalize := resources.Get "normalize.scss" | css.Sass |
    resources.Minify }}
    <link rel="stylesheet" href="{{ $normalize.Permalink }}" />

    {{ $global := resources.Get "global.scss" | css.Sass | resources.Minify }}
    <link rel="stylesheet" href="{{ $global.Permalink }}" />

    <link rel="stylesheet" href="/github.min.css" />
    <link rel="stylesheet" type="text/css" href="/toastify.min.css" />

    <script defer src="/highlight.min.js"></script>
    <script defer src="/toastify-js"></script>

    {{ $index := resources.Get "index.js" | resources.Minify }}
    <script defer src="{{ $index.Permalink }}"></script>
  </head>
  <body class="layout">
    <header class="layout__header">
      <img width="32" height="32" src="/favicons/favicon-32x32.png" />
      {{ .Site.Title }}
      <span class="version">v1.1.0</span>
      <a
        target="_blank"
        href="https://github.com/html-graph/html-graph"
        class="layout__github"
      >
        <img width="32" height="32" src="/github-light.svg" />
      </a>
    </header>

    <main class="layout__content">
      <nav class="layout__navigation">{{ partial "menu.html" }}</nav>
      <div class="layout__page">
        <div class="layout__column">
          {{ block "main" . }}
          <!-- -->
          {{ end }}
        </div>
      </div>
    </main>
  </body>
</html>
