<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ .Site.Title }} | {{ .Page.Title }}</title>
    {{ partial "favicon-head.html" }}
    <meta name="theme-color" content="#ffffff" />

    {{ $normalize := resources.Get "normalize.scss" | css.Sass |
    resources.Minify }}
    <link rel="stylesheet" href="{{ $normalize.Permalink }}" />

    {{ $global := resources.Get "global.scss" | css.Sass | resources.Minify }}
    <link rel="stylesheet" href="{{ $global.Permalink }}" />
  </head>
  <body>
    <main>
      {{ block "main" . }}
      <!-- -->
      {{ end }}
    </main>
  </body>
</html>
