<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="HTMLGraph is a powerful graph visualization library that enables rich node customization using HTML. Create interactive, dynamic graphs with draggable nodes, transformable viewports, and resize-reactive elements. Perfect for building complex and customizable visualizations with ease."
    />
    <title>{{ .Site.Title }} | {{ .Page.Title }}</title>
    {{ partial "favicon-head.html" }}
    <meta name="theme-color" content="#ffffff" />

    {{ $normalize := resources.Get "normalize.scss" | css.Sass |
    resources.Minify }}
    <link rel="stylesheet" href="{{ $normalize.Permalink }}" />

    {{ $global := resources.Get "global.scss" | css.Sass | resources.Minify }}
    <link rel="stylesheet" href="{{ $global.Permalink }}" />

    <link rel="stylesheet" href="/github.min.css" />
    <link rel="stylesheet" type="text/css" href="/toastify.min.css" />

    <meta name="yandex-verification" content="7d85b73448340d4c" />

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
      (function (m, e, t, r, i, k, a) {
        m[i] =
          m[i] ||
          function () {
            (m[i].a = m[i].a || []).push(arguments);
          };
        m[i].l = 1 * new Date();
        for (var j = 0; j < document.scripts.length; j++) {
          if (document.scripts[j].src === r) {
            return;
          }
        }
        (k = e.createElement(t)),
          (a = e.getElementsByTagName(t)[0]),
          (k.async = 1),
          (k.src = r),
          a.parentNode.insertBefore(k, a);
      })(
        window,
        document,
        "script",
        "https://mc.yandex.ru/metrika/tag.js",
        "ym",
      );

      ym(100257108, "init", {
        clickmap: true,
        trackLinks: true,
        accurateTrackBounce: true,
        webvisor: true,
      });
    </script>

    <noscript>
      <div>
        <img
          src="https://mc.yandex.ru/watch/100257108"
          style="position: absolute; left: -9999px"
          alt=""
        /></div
    ></noscript>
    <!-- /Yandex.Metrika counter -->

    <!-- Google tag (gtag.js) -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-8H0NP54DPS"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-8H0NP54DPS");
    </script>

    <script defer src="/highlight.min.js"></script>
    <script defer src="/toastify-js"></script>

    {{ $index := resources.Get "index.js" | resources.Minify }}
    <script defer src="{{ $index.Permalink }}"></script>
  </head>
  <body class="layout">
    <header class="layout__header">
      <img alt="HTMLGraph logo" width="32" height="32" src="/favicons/favicon-32x32.png" />
      <span class="layout__title"> {{ .Site.Title }} </span>
      <div class="header-side">
        <div
          class="ya-site-form ya-site-form_inited_no"
          data-bem='{"action":"https://yandex.com/search/site/","arrow":false,"bg":"transparent","fontsize":12,"fg":"#000000","language":"en","logo":"rb","publicname":"Search on site","suggest":true,"target":"_blank","tld":"com","type":2,"usebigdictionary":true,"searchid":12449743,"input_fg":"#02020a","input_bg":"#ffffff","input_fontStyle":"normal","input_fontWeight":"normal","input_placeholder":"","input_placeholderColor":"#000000","input_borderColor":"#2e2e2e"}'
        >
          <form
            action="https://yandex.com/search/site/"
            method="get"
            target="_blank"
            accept-charset="utf-8"
          >
            <input type="hidden" name="searchid" value="12449743" /><input
              type="hidden"
              name="l10n"
              value="en"
            /><input type="hidden" name="reqenc" value="" /><input
              type="search"
              name="text"
              value=""
            /><input type="submit" value="Search" />
          </form>
        </div>
        <style type="text/css">
          .ya-page_js_yes .ya-site-form_inited_no {
            display: none;
          }
        </style>
        <script type="text/javascript">
          (function (w, d, c) {
            var s = d.createElement("script"),
              h = d.getElementsByTagName("script")[0],
              e = d.documentElement;
            if ((" " + e.className + " ").indexOf(" ya-page_js_yes ") === -1) {
              e.className += " ya-page_js_yes";
            }
            s.type = "text/javascript";
            s.async = true;
            s.charset = "utf-8";
            s.src =
              (d.location.protocol === "https:" ? "https:" : "http:") +
              "//site.yandex.net/v2.0/js/all.js";
            h.parentNode.insertBefore(s, h);
            (w[c] || (w[c] = [])).push(function () {
              Ya.Site.Form.init();
            });
          })(window, document, "yandex_site_callbacks");
        </script>

        <a
          target="_blank"
          href="https://github.com/html-graph/html-graph"
          class="layout__github"
        >
          <img alt="Github logo" aria-label="Source code" width="32" height="32" src="/github-light.svg" />
        </a>
      </div>
    </header>

    <main class="layout__content">
      <nav class="layout__navigation">
        {{ partial "menu.html" (dict "context" . "path" .RelPermalink) }}
      </nav>
      <div class="layout__page">
        <div class="layout__column">
          {{ block "main" . }}
          <!-- -->
          {{ end }}
        </div>
      </div>
    </main>
  </body>
</html>
