:root {
  --color-background: #777777;
  --color-border: #9e9e9e;
  --color-background-menu: #e8e8e8;
  --color-background-header: #578c06;
  --color-text: #02020a;
  --color-text-inverse: #fff;

  --color-green: #89fc00;
  --color-light-blue: #00a1e4;
  --color-blue: #126dff;
  --color-orange: #f5b700;
  --color-code-background: #eeeeee;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  color: var(--color-text);
}

a {
  color: var(--color-blue);
}

.layout {
  display: flex;
  flex-direction: column;

  &__header {
    padding: 1rem;
    border-bottom: 1px solid var(--color-border);
    background: var(--color-background-header);
    color: var(--color-text-inverse);
    font-size: 1.75rem;
  }

  &__content {
    min-height: 0;
    display: flex;
    gap: 2rem;
    flex-grow: 1;
  }

  &__navigation {
    flex: 0 0 15rem;
    overflow-y: scroll;
    border-right: 1px solid var(--color-border);
    background: var(--color-background-menu);

    ul {
      list-style-type: none;
      padding-left: 1rem;
    }

    li {
      padding: 0.125rem 0;
    }
  }

  &__page {
    flex: 1 1 auto;
    overflow-y: scroll;
    padding-right: 2rem;
  }

  &__column {
    margin: 0 auto;
    max-width: 60rem;
    padding: 4rem 0 10rem;
  }
}

.use-case {
  &__frame {
    position: relative;
    padding-top: 75%;
    border: 1px solid var(--color-border);

    iframe {
      border: none;
      position: absolute;
      inset: 0;
    }

    pre {
      position: absolute;
      inset: 0;
      overflow: scroll;
      margin: 0;
      padding: 1rem;
    }
  }

  &__impl {
    background: var(--color-code-background);
  }

  &__head {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 0.25rem;
  }

  &__title {
    margin-right: auto;
  }

  &__btn {
    border-radius: 0.25rem;
    border: 2px solid grey;

    &_active {
      border: 2px solid black;
    }
  }
}

.code {
  padding: 1rem;
  border-radius: 0.5rem;
  background: var(--color-code-background);
}

table,
th,
td {
  border: 1px solid var(--color-border);
  border-collapse: collapse;
}

th,
td {
  text-align: start;
  padding: 0.5rem 0.75rem;
}

button {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  vertical-align: bottom;
}

ol {
  padding-left: 1rem;
}

[data-ref] {
  cursor: pointer;
  color: var(--color-blue);
  font-weight: bold;
}

[data-ref-target] {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    inset: -0.25rem;
    background: var(--color-orange);
    opacity: 0;
    z-index: -1;
    transition: opacity linear 1s;
  }

  &.hl {
    &:before {
      opacity: 1;
    }
  }
}
