:root {
  --color-background: #777777;
  --color-border: #9e9e9e;
  --color-background-grey: #ededed;
  --color-background-header: #2e2e2e;
  --color-text: #02020a;
  --color-text-header: #fff;
  --color-link-active: #991800;
  --color-button-active: #8e392c;
  --color-link: #1c4c91;
  --color-light-blue: #00a1e4;
  --color-orange: #f5b700;
  --color-code-background: #eeeeee;
  --color-tab-bg: #f4f4f4;
  --color-tab-bg-active: #ededed;
  --color-tab-bg-hover: #e9e9e9;
  --color-tab-border: #454545;
  --color-tab-frame: #c5c6c4;
  --color-text-tab: #5e5e5e;
  --color-text-tab-active: #2d2d2d;
  --color-tab-content: #f1f1f1;
  --color-background-menu: #f2f2f2;
  --color-background-menu-hover: #e0e0e0;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.25;
  color: var(--color-text);
}

hr {
  margin: 3rem 0;
}

a {
  color: var(--color-link);
}

h1, h2, h3, h4, h5, h6, p {
  scroll-margin-top: 7rem;
}

.layout {
  display: flex;
  flex-direction: column;

  &__header {
    display: flex;
    align-items: center;
    flex-grow: 0;
    flex-shrink: 0;
    min-height: 36px;
    gap: 1rem;
    padding: 0.75rem 1rem;
    border-bottom: 1px solid var(--color-border);
    background: var(--color-background-header);
    color: var(--color-text-header);
  }

  &__title {
    font-size: 2rem;
    line-height: 1;
  }

  &__github {
    margin-left: auto;
    display: flex;
    align-items: center;
    position: relative;
    top: 2px;
  }

  &__content {
    min-height: 0;
    display: flex;
    flex-grow: 1;
  }

  &__page {
    flex: 1 1 auto;
    overflow-y: auto;
    padding: 0 2rem;

    table,
    th,
    td {
      border: 1px solid var(--color-border);
      border-collapse: collapse;
    }

    th,
    td {
      text-align: start;
      padding: 0.5rem 0.75rem;
    }
  }

  &__column {
    margin: 0 auto;
    max-width: 60rem;
    padding: 4rem 0 10rem;
  }
}

.use-case-frame {
  position: relative;
  padding-top: 75%;
  z-index: 1;

  iframe {
    border: none;
    z-index: -1;
    position: relative;
  }

  &__impl {
    position: absolute;
    inset: 0;
    margin: 0;
    padding: 0;

    pre {
      background: var(--color-tab-content);
      position: absolute;
      inset: 0;
      overflow: scroll;
      padding: 1rem;
      margin: 0;
    }
  }

  &__copy {
    z-index: 1;
    position: absolute;
    right: 1rem;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
  }

  &__ref {
    display: block;
    position: absolute;
    inset: 0;
  }
}

.code {
  position: relative;

  pre {
    overflow-x: auto;
    padding: 1rem;
    border-radius: 0.5rem;
    background: var(--color-tab-content);
  }

  svg {
    position: absolute;
    cursor: pointer;
    z-index: 1;
    right: 1rem;
    top: 1rem;
    width: 1rem;
    height: 1rem;
  }
}

button {
  cursor: pointer;
  padding: 0.25rem 0.5rem;
  vertical-align: bottom;
}

ol {
  padding-left: 1rem;
}

[data-ref-target] {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    inset: -0.25rem;
    background: var(--color-orange);
    opacity: 0;
    z-index: -1;
    transition: opacity linear 1s;
  }

  &.hl {
    &:before {
      opacity: 1;
    }
  }
}

.header-side {
  display: flex;
  gap: 2rem;
  margin-left: auto;
  flex-basis: 20rem;
}

#ya-site-form0 .ya-site-form__form .ya-site-form__input-text,
#ya-site-form0 .ya-site-form__submit {
  height: 1.5rem;
}

.source-code-link {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.video {
  position: relative;
  border: 1px solid var(--color-border);
  padding-top: calc(720 / 1280 * 100%);

  video {
    position: absolute;
    inset:  0;
    width: 100%;
    height: 100%;
  }
}

.previews {
  margin: 2rem 0 0;

  ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: -1rem;
    list-style-type: none;
  }

  li {
    position: relative;
    padding-top: 50%;
    width: 50%;
  }

  a {
    display: block;
    border: 1px solid var(--color-border);
    box-sizing: border-box;
    position: absolute;
    inset: 1rem;
  }

  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }

  label {
    position: absolute;
    left: 0.5rem;
    bottom: 0.5rem;
    pointer-events: none;
  }
}

[data-tabs] {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--color-tab-frame);
  border-radius: 0.5rem;
  overflow: hidden;
}

[data-tabs-btns] {
  display: flex;
  gap: 1.5rem;
  padding: 0.75rem 1.5rem 0;
}

[data-tab] {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  align-items: center;
  border-radius: 0;
  border: none;
  padding: 0.25rem 0 0.75rem;
  background: transparent;
  position: relative;
  color: var(--color-text-tab);
  font-weight: bold;
  outline: none;

  &:hover {
    color: var(--color-text-tab-active);
  }

  &[data-tab-active] {
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: 2px;
      background: var(--color-link);
    }

    color: var(--color-text-tab-active);
  }
}

[data-tab-content] {
  display: none;
  padding: 1rem 1.5rem;
  border-top: 1px solid var(--color-tab-frame);

  &[data-tab-content-full] {
    padding: 0;
  }


  &[data-tab-content-visible] {
    display: block;
  }
}

.cta {
  display: flex;
  justify-content: center;
  padding-block: 2.5rem;
}

.introduction {
  text-align: center;
  font-size: 1.15rem;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
}

.menu {
  width: 16rem;
  flex-grow: 1;
  overflow-y: auto;
  scrollbar-width: thin;
  border-right: 1px solid var(--color-border);
  background: var(--color-background-menu);
  list-style-type: none;
  margin: 0;
  padding: 1rem 0;

  & > li > a {
    font-weight: bold;
  }

  ul {
    list-style-type: none;
    padding: 0.5rem 0;

    li {
      padding: 0;
    }
  }

  a {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 0.675rem 1rem;
    transition: background linear 0.16s;

    &:hover, &.active {
      background: var(--color-background-menu-hover);
    }

    &.active {
      &:link {
        text-decoration: underline;
      }
    }
  }
}

.submenu-closed {
  display: none;
}
