<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <title>HTMLGraph | {{ TemplateName }}</title>
    <script type="module" crossorigin src="/assets/template/index-DZVDalrb.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/html-graph-builder-C0Sa-0aj.js">
    <link rel="modulepreload" crossorigin href="/assets/create-in-out-node-CH3LlneL.js">
    <link rel="stylesheet" crossorigin href="/assets/html-graph-builder-C_5vuJL1.css">
    <link rel="stylesheet" crossorigin href="/assets/index-ZlIF9s1C.css">
  </head>
  <body>
    <div class="overlay">
      This use case specifies {{ UseCaseSpecification }}
    </div>
    <div id="canvas" class="canvas"></div>
  </body>
</html>
