<ul class="canvas-menu">
  <li>
    <a href="#add-node">Add Node</a>
  </li>
  <li>
    <a href="#update-node">Update Node</a>
  </li>
  <li>
    <a href="#remove-node">Remove Node</a>
  </li>
  <li>
    <a href="#mark-port">Mark Port</a>
  </li>
  <li>
    <a href="#update-port">Update Port</a>
  </li>
  <li>
    <a href="#unmark-port">Unmark Port</a>
  </li>
  <li>
    <a href="#add-edge">Add Edge</a>
  </li>
  <li>
    <a href="#update-edge">Update Edge</a>
  </li>
  <li>
    <a href="#remove-edge">Remove Edge</a>
  </li>
  <li>
    <a href="#center">Center</a>
  </li>
  <li>
    <a href="#focus">Focus</a>
  </li>
  <li>
    <a href="#patch-viewport-matrix">Patch Viewport Matrix</a>
  </li>
  <li>
    <a href="#patch-content-matrix">Patch Content Matrix</a>
  </li>
</ul>
