<!-- {{ .path }} -->
<ul>
  <li>
    {{ partial "bold-menu-link.html" (dict
      "path" "/"
      "activePath" .path
      "label" "Overview"
    )}}
  </li>
  <li>
    {{ partial "bold-menu-link.html" (dict
      "path" "/getting-started/"
      "activePath" .path
      "label" "Getting started"
    )}}
  </li>
  <li>
    {{ partial "bold-menu-link.html" (dict
      "path" "/terms-and-definitions/"
      "activePath" .path
      "label" "Terms and definitions"
    )}}
  </li>
  <li>
    {{ partial "bold-menu-link.html" (dict
      "path" "/canvas/"
      "activePath" .path
      "label" "Canvas"
    )}}
  </li>
  <li>
    {{ partial "bold-menu-link.html" (dict
      "path" "/defaults/"
      "activePath" .path
      "label" "Defaults"
    )}}
    <ul>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/defaults/nodes/"
          "activePath" .path
          "label" "Nodes"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/defaults/ports/"
          "activePath" .path
          "label" "Ports"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/defaults/edges/"
          "activePath" .path
          "label" "Edges"
        )}}
      </li>
    </ul>
  </li>
  <li>
    {{ partial "bold-menu-link.html" (dict
      "path" "/edge-shape/"
      "activePath" .path
      "label" "Edge shape"
    )}}
    <ul>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/edge-shape/bezier/"
          "activePath" .path
          "label" "Bezier"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/edge-shape/straight/"
          "activePath" .path
          "label" "Straight"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/edge-shape/horizontal/"
          "activePath" .path
          "label" "Horizontal"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/edge-shape/vertical/"
          "activePath" .path
          "label" "Vertical"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/edge-shape/custom/"
          "activePath" .path
          "label" "Custom"
        )}}
      </li>
    </ul>
  </li>
  <li>
    {{ partial "bold-menu-link.html" (dict
      "path" "/interactive-edges/"
      "activePath" .path
      "label" "Interactive Edges"
    )}}
  </li>
  <li>
    {{ partial "bold-menu-link.html" (dict
      "path" "/modules/"
      "activePath" .path
      "label" "Modules"
    )}}
    <ul>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/modules/transformable-viewport/"
          "activePath" .path
          "label" "Transformable viewport"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/modules/draggable-nodes/"
          "activePath" .path
          "label" "Draggable nodes"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/modules/background/"
          "activePath" .path
          "label" "Background"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/modules/connectable-ports/"
          "activePath" .path
          "label" "Connectable ports"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/modules/virtual-scroll/"
          "activePath" .path
          "label" "Virtual scroll"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/modules/resize-reactive-nodes/"
          "activePath" .path
          "label" "Resize-reactive nodes"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/modules/box-area-rendering/"
          "activePath" .path
          "label" "Box area rendering"
        )}}
      </li>
    </ul>
  </li>
  <li>
    {{ partial "bold-menu-link.html" (dict
      "path" "/accessing-graph-structure/"
      "activePath" .path
      "label" "Accessing graph structure"
    )}}
  </li>
  <li>
    {{ partial "bold-menu-link.html" (dict
      "path" "/accessing-viewport-state/"
      "activePath" .path
      "label" "Accessing viewport state"
    )}}
  </li>
  <li>
    {{ partial "bold-menu-link.html" (dict
      "path" "/canvas-related-events/"
      "activePath" .path
      "label" "Canvas related events"
    )}}
  </li>
  <li>
    <a
      href="https://github.com/html-graph/html-graph"
      target="_blank"
    >
      <b>Source code</b>
    </a>
  </li>
</ul>
