<!-- {{ .path }} -->
<ul data-menu class="menu">
  <li class="submenu-closed">
    {{ partial "menu-link.html" (dict
      "path" "/"
      "activePath" .path
      "label" "Overview"
    )}}
  </li>
  <li class="submenu-closed">
    {{ partial "menu-link.html" (dict
      "path" "/getting-started/"
      "activePath" .path
      "label" "Getting Started"
    )}}
  </li>
  <li class="submenu-closed">
    {{ partial "menu-link.html" (dict
      "path" "/canvas/"
      "activePath" .path
      "label" "Canvas"
    )}}
  </li>
  <li class="submenu-closed">
    {{ partial "menu-link.html" (dict
      "path" "/defaults/"
      "activePath" .path
      "label" "Defaults"
    )}}
  </li>
  <li class="submenu-closed">
    {{ partial "menu-link.html" (dict
      "path" "/features/"
      "activePath" .path
      "label" "Features"
    )}}
    <ul data-submenu="features">
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/features/transformable-viewport/"
          "activePath" .path
          "label" "Transformable Viewport"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/features/draggable-nodes/"
          "activePath" .path
          "label" "Draggable Nodes"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/features/background/"
          "activePath" .path
          "label" "Background"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/features/connectable-ports/"
          "activePath" .path
          "label" "Connectable Ports"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/features/draggable-edges/"
          "activePath" .path
          "label" "Draggable Edges"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/features/virtual-scroll/"
          "activePath" .path
          "label" "Virtual Scroll"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/features/node-resize-reactive-edges/"
          "activePath" .path
          "label" "Node Resize Reactive Edges"
        )}}
      </li>
    </ul>
  </li>
  <li class="submenu-closed">
    {{ partial "menu-link.html" (dict
      "path" "/layouts/"
      "activePath" .path
      "label" "Layouts"
    )}}
    <ul data-submenu="layouts">
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/layouts/force-directed/"
          "activePath" .path
          "label" "Force-directed"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/layouts/custom/"
          "activePath" .path
          "label" "Custom"
        )}}
      </li>
    </ul>
  </li>
  <li class="submenu-closed">
    {{ partial "menu-link.html" (dict
      "path" "/animated-layouts/"
      "activePath" .path
      "label" "Animated Layouts"
    )}}
    <ul data-submenu="animated-layouts">
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/animated-layouts/force-directed/"
          "activePath" .path
          "label" "Force-directed"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/animated-layouts/custom/"
          "activePath" .path
          "label" "Custom"
        )}}
      </li>
    </ul>
  </li>
  <li class="submenu-closed">
    {{ partial "menu-link.html" (dict
      "path" "/edge-shapes/"
      "activePath" .path
      "label" "Edge Shapes"
    )}}
    <ul data-submenu="edge-shapes">
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/edge-shapes/bezier/"
          "activePath" .path
          "label" "Bezier"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/edge-shapes/direct/"
          "activePath" .path
          "label" "Direct"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/edge-shapes/straight/"
          "activePath" .path
          "label" "Straight"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/edge-shapes/horizontal/"
          "activePath" .path
          "label" "Horizontal"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/edge-shapes/vertical/"
          "activePath" .path
          "label" "Vertical"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/edge-shapes/custom/"
          "activePath" .path
          "label" "Custom"
        )}}
      </li>
    </ul>
  </li>
  <li class="submenu-closed">
    {{ partial "menu-link.html" (dict
      "path" "/edge-arrows/"
      "activePath" .path
      "label" "Edge Arrows"
    )}}
  </li>
  <li class="submenu-closed">
    {{ partial "menu-link.html" (dict
      "path" "/graph-state/"
      "activePath" .path
      "label" "Graph State"
    )}}
  </li>
  <li class="submenu-closed">
    {{ partial "menu-link.html" (dict
      "path" "/viewport-state/"
      "activePath" .path
      "label" "Viewport State"
    )}}
  </li>
  <li class="submenu-closed">
    {{ partial "menu-link.html" (dict
      "path" "/canvas-state-events/"
      "activePath" .path
      "label" "Canvas State Events"
    )}}
  </li>
  <li class="submenu-closed">
    {{ partial "menu-link.html" (dict
      "path" "/tutorials/"
      "activePath" .path
      "label" "Tutorials"
    )}}
    <ul data-submenu="tutorials">
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/tutorials/interactive-edges/"
          "activePath" .path
          "label" "Interactive Edges"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/tutorials/changing-edge-color/"
          "activePath" .path
          "label" "Changing Edge Color"
        )}}
      </li>
      <li>
        {{ partial "menu-link.html" (dict
          "path" "/tutorials/edges-with-remove-button/"
          "activePath" .path
          "label" "Edge with Remove Button"
        )}}
      </li>
    </ul>
  </li>
  <li class="submenu-closed">
    <a
      href="https://github.com/html-graph/html-graph"
      target="_blank"
      class="source-code-link"
    >
      <b>Source Code</b>
      <img alt="Github Logo" width="16" height="16" src="/github.svg">
    </a>
  </li>
  <li class="submenu-closed">
    <a
      href="https://github.com/html-graph/html-graph/issues"
      target="_blank"
      class="source-code-link"
    >
      <b>Submit Issue</b>
      <img alt="Issue" width="16" height="16" src="/exclamation-circle.svg">
    </a>
  </li>
</ul>
<script>
  document.querySelectorAll("[data-menu]").forEach((menu) => {
    const children = Array.from(menu.children);

    children.forEach((child) => {
      if (child.querySelector("a.active") !== null) {
        child.classList.remove("submenu-closed");
      }

      if (child.children.length > 1) {
        const chevron = document.createElement('div');
        chevron.classList.add("chevron");
        child.children[0].appendChild(chevron);

        chevron.addEventListener("click", (event) => {
          event.preventDefault();
          child.classList.toggle("submenu-closed");
        });
      }
    });
  });
</script>
