<ul>
  <li>
    <a href="/"><b>Overview</b></a>
  </li>
  <li>
    <a href="/getting-started"><b>Getting started</b></a>
  </li>
  <li>
    <a href="/terms-and-definitions"><b>Terms and definitions</b></a>
  </li>
  <li>
    <a href="/canvas"><b>Canvas</b></a>
    <ul>
      <li>
        <a href="/canvas/add-node">addNode</a>
      </li>
      <li>
        <a href="/canvas/update-node">updateNode</a>
      </li>
      <li>
        <a href="/canvas/remove-node">removeNode</a>
      </li>
      <li>
        <a href="/canvas/mark-port">markPort</a>
      </li>
      <li>
        <a href="/canvas/update-port">updatePort</a>
      </li>
      <li>
        <a href="/canvas/unmark-port">unmarkPort</a>
      </li>
      <li>
        <a href="/canvas/add-edge">addEdge</a>
      </li>
      <li>
        <a href="/canvas/update-edge">updateEdge</a>
      </li>
      <li>
        <a href="/canvas/remove-edge">removeEdge</a>
      </li>
      <li>
        <a href="/canvas/patch-viewport-matrix">patchViewportMatrix</a>
      </li>
      <li>
        <a href="/canvas/patch-content-matrix">patchContentMatrix</a>
      </li>
      <li>
        <a href="/canvas/clear">clear</a>
      </li>
      <li>
        <a href="/canvas/destroy">destroy</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/defaults"><b>Defaults</b></a>
    <ul>
      <li>
        <a href="/defaults/nodes">Nodes</a>
      </li>
      <li>
        <a href="/defaults/ports">Ports</a>
      </li>
      <li>
        <a href="/defaults/edges">Edges</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/edge-shape"><b>Edge shape</b></a>
    <ul>
      <li>
        <a href="/edge-shape/bezier">Bezier</a>
      </li>
      <li>
        <a href="/edge-shape/straight">Straight</a>
      </li>
      <li>
        <a href="/edge-shape/horizontal">Horizontal</a>
      </li>
      <li>
        <a href="/edge-shape/vertical">Vertical</a>
      </li>
      <li>
        <a href="/edge-shape/custom">Custom</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/modules"><b>Modules</b></a>
    <ul>
      <li>
        <a href="/modules/transformable-viewport">Transformable viewport</a>
      </li>
      <li>
        <a href="/modules/draggable-nodes">Draggable nodes</a>
      </li>
      <li>
        <a href="/modules/background">Background</a>
      </li>
      <li>
        <a href="/modules/connectable-ports">Connectable ports</a>
      </li>
      <li>
        <a href="/modules/virtual-scroll">Virtual scroll</a>
      </li>
      <li>
        <a href="/modules/resize-reactive-nodes">Resize-reactive nodes</a>
      </li>
      <li>
        <a href="/modules/box-area-rendering">Box area rendering</a>
      </li>
    </ul>
  </li>
  <li>
    <a href="/events"><b>Events</b></a>
  </li>
  <li>
    <a href="/accessing-graph-structure"><b>Accessing graph structure</b></a>
  </li>
  <li>
    <a href="/accessing-viewport-state"><b>Accessing viewport state</b></a>
  </li>
  <li>
    <a
      href="https://github.com/html-graph/html-graph/tree/master/use-cases"
      target="_blank"
    >
      <b>Typescript examples</b>
    </a>
  </li>
</ul>
